  <header class="site-header">
        <div class="logo-container">
            <a href="/home">
                <img src="forkast_logo.png" alt="ForKast Logo" class="logo">
            </a>
        </div>
        <nav class="profile-nav profile-nav-ex">
            <p class="main-content">{{screen_name}}</p>
            <a href="/profile">
                <img src="{{user_avatar}}" alt="Profile Picture" class="profile-image"/>
            </a>
        </nav>
    </header>
 <div class="main-container">
        <aside class="image_section">
            <img class="image_resto" src="{{resto_image}}" alt="{{restoName}} Restaurant">
            <div class="text_format">{{restoName}}</div>

            <a href ="/home">
                <button class="back-btn">Go back to homepage</button>
                </a>
        </aside>
        <div class="reviews-container">
            <div class="review-box review-box-title">SEE REVIEWS</div>
            <!-- Repeat this structure for each review -->
            {{#each reviews_list}}
            <div class="review-box-whole">
                <div class="review-box">
                    <img class="review-box-image" src="{{this.reviewer_avatar}}" alt="{{this.user_name}}">
                    <div class="review-des">
                        <div class="review-text review-text-des">from {{this.user_name}}</div>
                        <div class="review-text">{{this.review_title}}</div>
                        <div class="review-text review-text-des">{{this.review_desc}}</div>
                    </div>
                    <div class="vote-space">
                        <a href="/upvote_review/{{this._id}}">
                            <button class="up-vote-btn" name="upvote" title="Upvote Review">👍</button>
                        </a>
                        <p>{{likes}}</p>
                    </div>
                    <div class="vote-space">
                        <a href="/downvote_review/{{this._id}}">
                            <button class="down-vote-btn" name="downvote" title="Downvote Review">👎</button>
                        </a>
                        <p>{{dislikes}}</p>
                    </div>
                    <div class="star-rating-display">
                            <span class="{{this.star1}}">&#9733;</span>
                            <span class="{{this.star2}}">&#9733;</span>
                            <span class="{{this.star3}}">&#9733;</span>
                            <span class="{{this.star4}}">&#9733;</span>
                            <span class="{{this.star5}}">&#9733;</span> 
                    </div>
                </div>
             </div>
        {{/each}}
    </div>
    
    
